<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1043757631999-05u5g3cjsnc00a016udvct5ui1vka08d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043757631999-05u5g3cjsnc00a016udvct5ui1vka08d</string>
	<key>API_KEY</key>
	<string>AIzaSyDUO2ZylWUrq4fZsUo4BHXJx_MCk7pcxcs</string>
	<key>GCM_SENDER_ID</key>
	<string>1043757631999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbztech.universalpresenterremote.upr</string>
	<key>PROJECT_ID</key>
	<string>dbzupr</string>
	<key>STORAGE_BUCKET</key>
	<string>dbzupr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043757631999:ios:817c1f3dbef768de</string>
	<key>DATABASE_URL</key>
	<string>https://dbzupr.firebaseio.com</string>
</dict>
</plist>